p,div{
    margin:0;
    padding: 0;
}
.Pokedex{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    align-content: space-around;
    margin: 20px auto;
    padding: 0.5em;
}

.pokedex-title{
    color: #555;
    width:100%;
    text-align: center;
}

.Pokedex-exp{
    width: 100%;
    margin-top: 0;
}

.Pokedex-winner{
    width: 100%;
    color: #069b06;
}
.Pokedex-loser{
    width: 100%;
    color: #f34a4a;
}