.Pokecard{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background: #fff;
    margin:0.5em;
    padding: 1em;
    box-shadow: 2px 4px 6px -5px rgba(00, 0, 0, 0.3);
    border-radius: 5px;
}
.pokecard-item{
    list-style: none;
    font-size: 1em;
    margin:0;
    padding:0;
}

.Pokecard img{
    transition: all ease .5s;
}

.Pokecard:hover img{
    transform: scale(1.25);
    opacity: 0.8;
}
.pokecard-name{
    color: blue;
    font-size: 1.5em;
    font-weight: 600;
}

.pokecard-img{
    padding: 0.8em;
    cursor: pointer;
}

.Pokecard-image{
    background-color: rgb(213, 221, 220);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
    border-radius: 3px;
    margin: 1rem 0;
}
li{
    margin: 0;
}